<mat-toolbar style="height: 80px; background-color: #063930; color: white;" class="grid-container" color="none" xmlns:C="http://www.w3.org/1999/xhtml">
  <span><img src="../../assets/images/logo.jpeg" height=80 width=150></span>


  <a mat-button routerLinkActive="active" routerLink="/achatList"
    ><mat-icon> location_on</mat-icon> Cafe Forest
  </a>
  <a  mat-button routerLinkActive="active"
  ><mat-icon> phone</mat-icon>+212613246330</a
>


  <a style="margin-top: 5px;" mat-button routerLinkActive="active" routerLink="/about"
    >	<mat-icon>access_time</mat-icon>
    <a mat-button routerLinkActive="active" routerLink="/about"
    >
    De 10:00 à 20:00<br>
    <p style="margin-top: -10px;"> Toutes la semaine</p>
  </a> </a>
</mat-toolbar>
<mat-toolbar class="grid-container" color="none" xmlns:C="http://www.w3.org/1999/xhtml">
  <a style="background-color: #063930; color: white;" mat-button  routerLink="../home"
    ><span class="fa fa-home fa-lg"></span> Home</a
  >
  <a mat-button routerLinkActive="active" routerLink="/about"
    ><span class="fa fa-info fa-lg"></span> Vente
  </a>
  <a mat-button routerLinkActive="active" routerLink="/achatList"
    ><span class="fa fa-list fa-lg"></span> Achat
  </a>
  <a mat-button routerLinkActive="active"
    ><span class="fa fa-list fa-lg"></span> Location</a
  >
  <a mat-button routerLinkActive="active" routerLink="/contactus"
    ><span class="fa fa-address-card fa-lg"></span> Contact</a
  >

  <a mat-button routerLinkActive="active" (click)="Whatsapp()"
    ><mat-icon> message</mat-icon>Whatsapp</a
  >

  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"
    ><span class="fa fa-sign-in fa-lg"></span> Login</a
  >
</mat-toolbar>


<div
  class="container jumbotron"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="10px"
>
  <div class="mb-5" fxFlex="50" fxFlex.gt-sm="50%">

    <div style="margin-top: 300px;" class=" achat">

      {{ message }} <i class="fa fa-hand-o-down" aria-hidden="true"></i>
    </div>
  </div>
  <div fxFlex="50" fxFlex.gt-sm="70%"></div>
</div>
<router-outlet></router-outlet>
