.mat-grid-tile{
  border: 1px solid lightgray ;
  border-radius: 5px;
  height: 450px;
  margin-bottom: 20px;
  margin-top: 20px;

}
.mat-grid-tile ng-star-inserted{
  width: 350px;

}

.home-page-achat-image{
  max-width: 80%;
  max-height: 80%;



}
.bottom {
  margin-bottom: 7rem!important;
}
.image-container{
  position: relative;
  height: 200px;
  cursor: pointer;
}
.p{
  margin-left: 20px;
}
