<body>
<mat-card>
  <b><span>Dashboard</span></b>
</mat-card>
<br />
<div class="row" >
  <div class="column">
    <div class="card">
      <div class="containerr">
        <h2 class="title">Total Achat:</h2>
        <h1 class="title">
          {{nbrA}}<span style="margin-left: 10px" class="float-right"
        ><mat-icon>toc</mat-icon></span
        >
        </h1>
        <p>
          <button class="button" [routerLink]="['/cafe/Achat']" >
            View Achat
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="containerr">
        <h2 class="title">Total Location:</h2>
        <h1 class="title">
          {{nbrL}}<span style="margin-left: 10px" class="float-right"
        ><mat-icon>inventory_2</mat-icon></span
        >
        </h1>
        <p>
          <button class="button" [routerLink]="['/cafe/locationn']" >
            View Location
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="containerr">
        <h2 class="title">Total Immobilier:</h2>
        <h1 class="title">
          {{nbrA+nbrL}}<span style="margin-left: 10px" class="float-right"
        ><mat-icon>shopping_basket</mat-icon></span
        >
        </h1>
        <p>
          <button class="button" routerLink="['/home']">
            View Home
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
