.grid-container {
  margin: 10px;
}
.body{
  margin : 10px;
  background-color: #f5f5f5;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../assets/images/logo2.jpeg');
  background-size: cover;
}
 .mat-raised-button.mat-button-disabled.mat-button-disabled{
  color: black;
}
.btn-mail {
  color: #fff !important;
  background-color: #512DA8 !important;
}
.btn-facebook {
  color: #fff !important;
  background-color: #3b5998 !important;
}
.demo-section + .demo-section {
  margin-top: 16px;
}

