<app-header1></app-header1>
<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div>
    <hr />
    <h1 class="mat-h1" style="text-align: center; margin-top: 20px">
      <strong>Nous offrons les meilleures offres immobilières</strong>
    </h1>
  </div>
  <div style="text-align: center; margin-bottom: 30px">
    <p style="font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

      Regardez nos derniers biens immobiliers puis vérifient les installations
      sur laquelles, Nous avons déjà vendu plus de 5000 maisons et nous sommes
      toujours en <br />
      cours à très bon rythme. nous espérons que vous trouverez quelque chose
      sur-mesure qui répondent à vos besoins.
    </p>
  </div>

  <div style="margin-top: -20px" class="container">
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile style="height: 400px"
        ><mat-accordion style="margin-top: 100px">
          <mat-expansion-panel
            [expanded]="true"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 30px"> Achat </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                  <a routerLink="/achatList"> Je souhaite Acheter</a>
                </mat-card-title>
                <mat-card-subtitle
                  >Vous recherchez un appartement ou une maison à acheter
                  ?</mat-card-subtitle
                >
              </mat-card-header>
              <img
                routerLink="achatList"
                mat-card-image
                height="220"
                width="287"
                src="https://cdn.pixabay.com/photo/2017/10/12/17/42/house-for-sale-2845213__340.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content> </mat-card-content>
            </mat-card>
          </mat-expansion-panel> </mat-accordion
      ></mat-grid-tile>
      <mat-grid-tile style="height: 400px"
        ><mat-accordion style="margin-top: 100px"
          ><mat-expansion-panel
            [expanded]="true"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 30px">
                Location
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title
                  ><a routerLink="/locationList"
                    >Je souhaite Louer</a
                  ></mat-card-title
                >
                <mat-card-subtitle
                  >Des conseillers à vos côtés pour votre recherche de
                  location</mat-card-subtitle
                >
              </mat-card-header>
              <img
                routerLink="/locationList"
                mat-card-image
                height="220"
                width="287"
                src="https://cdn.pixabay.com/photo/2016/05/21/21/52/house-1407562__340.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content> </mat-card-content>
            </mat-card>
          </mat-expansion-panel> </mat-accordion
      ></mat-grid-tile>
    </mat-grid-list>

    <div>
      <div>
        <hr />
        <h1 class="mat-h1" style="text-align: center; margin-top: 50px">
          <strong>Notre Equipe</strong>
        </h1>
      </div>
      <div style="text-align: center">
        <p style="font-size: larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

            comprendrait typiquement des professionnels travaillant ensemble
            pour faciliter la vente, l'achat, la location et la gestion de biens
            immobiliers.

        </p>
      </div>
      <ng-container>
        <mat-grid-list class="grid" cols="3" rowHeight="700px">
          <mat-grid-tile>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Amine SERHIRI</mat-card-title>
                <mat-card-subtitle>Agent immobilier</mat-card-subtitle>
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/images/serhiri.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <p>
                  responsable de la vente ou de la location de biens immobiliers
                  pour le compte de l'agence. Il est chargé de trouver des
                  acheteurs ou des locataires potentiels, de négocier les prix,
                  de rédiger les contrats et de gérer toutes les transactions
                  immobilières.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a
                  mat-icon-button
                  class="btn-facebook"
                  href="http://www.facebook.com/profile.php?id="
                  ><i class="fa fa-facebook fa-lg"></i
                ></a>
                <a mat-icon-button class="btn-mail" href="mailto:"
                  ><i class="fa fa-envelope-o fa-lg"></i
                ></a>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Yasser BELAIZI</mat-card-title>
                <mat-card-subtitle
                  >Gestionnaire de biens immobiliers</mat-card-subtitle
                >
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/images/yasser.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <p>
                  chargé de gérer les propriétés de l'agence. Il s'occupe de la
                  maintenance des biens, de la recherche de locataires, de la
                  gestion des baux et des loyers, et de la résolution de tout
                  problème relatif aux biens immobiliers.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a
                  mat-icon-button
                  class="btn-facebook"
                  href="http://www.facebook.com/profile.php?id="
                  ><i class="fa fa-facebook fa-lg"></i
                ></a>
                <a mat-icon-button class="btn-mail" href="mailto:"
                  ><i class="fa fa-envelope-o fa-lg"></i
                ></a>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Anas ATMANI</mat-card-title>
                <mat-card-subtitle
                  >Directeur de l'agence immobilière
                </mat-card-subtitle>
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/images/anas.jfif"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <p>
                  responsable de la supervision globale de l'agence. Il est
                  chargé de la gestion du personnel, de la gestion financière,
                  de la planification stratégique et du développement des
                  affaires et chargé de maintenir les relations et les
                  partenaires commerciaux.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a
                  mat-icon-button
                  class="btn-facebook"
                  href="http://www.facebook.com/profile.php?id="
                  ><i class="fa fa-facebook fa-lg"></i
                ></a>
                <a mat-icon-button class="btn-mail" href="mailto:"
                  ><i class="fa fa-envelope-o fa-lg"></i
                ></a>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
    </div>
  </div>
</div>
<app-footer></app-footer>
