<div class="body" xmlns="http://www.w3.org/1999/html">
<div>
  <h1 class="mat-h1" style="text-align: center;margin-top: 20px" ><strong>Nous offrons les meilleures offres immobilières</strong></h1>
</div>
<div style="text-align: center">
  <p>Regardez nos derniers biens immobiliers puis vérifient les installations sur laquelles, Nous avons déjà vendu plus de 5000 maisons et nous sommes toujours en <br>
                 cours à très bon rythme. nous espérons que vous trouverez quelque chose sur-mesure qui répondent à vos besoins.</p>
</div>

<div class="grid-container">
    <ng-container *ngIf="cards">
      <mat-grid-list cols="3" rowHeight="800px">
        <mat-grid-tile *ngFor="let card of cards | paginate: {itemsPerPage: tableSize , currentPage: page , totalItems :count} let i=index " >
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{card.title}}</mat-card-title>
              <mat-card-subtitle><mat-icon> location_on</mat-icon>{{card.adresse}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/logo2.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{card.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button disabled><mat-icon>crop_free</mat-icon><strong>{{card.surface}}m²</strong> </button>
              <button mat-raised-button disabled><strong>{{card.rooms}} Chambre</strong></button>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>

      </mat-grid-list>
      <pagination-controls previousLabel="Prev"
                           nextLabel="Next"
                           (pageChange)="onListDataChange($event)">

      </pagination-controls>
    </ng-container>

</div>

</div>
